@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
ol{
	font-family: 'Poppins', sans-serif;
}
.section{
	width: 100%;
	min-height: 100vh;
	background-color: #ddd;
}
.intro{
    position: absolute;
    top: 180px;
    left: 10px;
    width: 80vw;
    height: auto;
    padding-left: 5px;
    font-size:15px;
    color:rgb(10, 10, 10);
}
.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top: 100px;
}
.content{
	top: 30vh;
}
















